@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "neue";
  src: url("./fonts/Hanken\ Design\ Co\ -\ Neue\ Einstellung\ Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neue";
  src: url("./fonts/Hanken\ Design\ Co\ -\ Neue\ Einstellung\ Bold.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "neue";
  src: url("./fonts/Hanken\ Design\ Co\ -\ Neue\ Einstellung\ Light.otf");
  font-weight: light;
  font-style: normal;
}
