@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "neue";
  src: url("./fonts/Hanken\ Design\ Co\ -\ Neue\ Einstellung\ Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neue";
  src: url("./fonts/Hanken\ Design\ Co\ -\ Neue\ Einstellung\ Bold.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "neue";
  src: url("./fonts/Hanken\ Design\ Co\ -\ Neue\ Einstellung\ Light.otf");
  font-weight: light;
  font-style: normal;
}

.card-title {
  @apply transform translate-y-[100px]  scale-0 group-hover:scale-100 opacity-0 group-hover:opacity-100  duration-500 origin-center    group-hover:translate-y-0;
}
